.searchBarContainer {
    margin-top: 10px;
    position: absolute;
    right: 40.5%;
}

.searchInput {
    padding: 8px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.searchInput:focus {
    border-color: #007bff;
    outline: none;
}
