.homeContainer {
    padding: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.containerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
}

.header {
    position: absolute;
    right: 50%;
    font-size: 100px;
    margin-right: 155px;
    width: 155px;
    margin: 0 auto 20px;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg, #ffcc00, #007bff, #ff0000);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #333;
    text-align: center;
}

.container {
    display: flex;
}

.orders {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px 20px 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.orders h2 {
    margin-bottom: 10px;
}

.selectRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.selectDropdown {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    background-color: white;
    color: #333;
}


.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.paginationButton {
    padding: 8px 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.currentPageButton {
    padding: 8px 12px;
    background-color: #020202;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.paginationButton:hover {
    background-color: #777;
}

.paginationButton:disabled {
    background-color: #999;
    cursor: auto;
    opacity: 0.5;
}
